.headerContainer {
  width: 100vw;
  // background: #0d1116;

  border: 1px solid blue($color: #000000);
  position: fixed;
  top: 0;

  z-index: var(--z-modal-2);
}

.navContainer {
  height: 6rem;
  display: grid;
  grid-template-columns: auto 60px;
  width: 100%;

  z-index: 10;
  // color: #fff;
  position: relative;

  /* Medium devices (landscape tablets, 768px and up) */
  // @media (min-width: 768px) {
  // }

 

  @media only screen and (min-width: 768px) {
    grid-template-columns: auto auto 60px;
    }

  --wrapper-width: 95%;

  padding-right: calc(50vw - (var(--wrapper-width) / 2));
  padding-left: calc(50vw - (var(--wrapper-width) / 2));

  &--hasBackground {
    background-color: #f9fafb;
  }

  @media only screen and (min-width: 1280px) {
    --wrapper-width: 1216px;
  }

  @media only screen and (min-width: 1504px) {
    --wrapper-width: 1440px;
  }
}

/*Styling logo*/
.logo {
 opacity: 0;

  @media only screen and (min-width: 640px) {
    padding: 1vh 1vw;
    text-align: center;
    display: flex;
    align-items: center;
 opacity: 1;

    font-size: 18px;
    font-weight: var(--font-weight-semibold);
  
    span {
    font-weight: var(--font-weight-thin);
  
    }
  }
}
