@import "../../styles/_variables.scss";

.hero {
  margin-top: 60px;
  &-content {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 3.5rem;
    align-items: center;
    position: relative;
  }
  &-social {
    display: grid;
    position: absolute;
    top: 10%;
    grid-template-columns: max-content;
    row-gap: 1rem;
    &-icon {
      font-size: 2rem;
      color: $color-text;
    }
  }
  &-img {
    width: 200px;
    height: 205px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &-data {
    grid-column: 1/3;
  }
  &-title {
    font-size: $font-h1;
    margin-bottom: $mb-0-75;

    span {
      color: $base-color;
    }
  }
  &-subtitle {
    color: $color-neutral;
    font-weight:$font-semi-bold ;
    margin-bottom: $mb-1;
  }
  &-description {
    margin-bottom: $mb-3;

  }
}

.imageContainer {
}

.header p {
  opacity: 0.7;
  line-height: 1.5;
}

.bg1 {
  width: 215px;
  height: 104px;
  position: absolute;
  left: 0;
  top: -15%;
}
.bg2 {
  width: 215px;
  height: 104px;
  position: absolute;
  right: 5%;
  bottom: 40%;
}

.ocupation {
  color: $base-color;
}

$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

@mixin media-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints,$breakpoint )) {
      @content;
    }
  } @else {
    @warn "The value '#{breakpoint}' has not been declared as a breakpoint";
  }
}
