$font-p: 1.8rem;
$font-h1: 3rem;
$font-h2: 2.4rem;
$font-h3: 2rem;

$base-color: #06c5ff;

$color-background: #202833;
$color-background-second: #090c0f;

$color-neutral: #e1e3e8;
$color-purple: #6a70ff;
$color-action: #06c5ff;
$color-text: #f2f2f2;

/*========== Font and typography ==========*/
$body-font: "Roboto", sans-serif;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
$z-modal-2: 1001;

/*========== Margenes Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;


$space: 1rem;