$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;



$base-color: #c6538c;

$color-background:#202833;
$color-background-dark:#090C0F;

$color-neutral: #7C8088;
$color-purple: #6A70FF;
$color-action: #06C5FF;
$color-text: #F2F2F2;