

:root {
  --font-p: 1.8rem;
  
--font-h1: 3rem;
--font-h2: 2.4rem;
--font-h3: 2rem;

--base-color: #06c5ff;

--color-background: #202833;
--color-background-second: #090c0f;

--color-neutral: #e1e3e8;
--color-purple: #6a70ff;
--color-action: #06c5ff;
--color-text: #f2f2f2;

/*========== Font and typography ==========*/
--body-font: "Roboto", sans-serif;

/*========== Font weight ==========*/
--font-medium: 500;
--font-semi-bold: 600;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
--z-modal: 1000;
--z-modal-2: 1001;

/*========== Margenes Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
--mb-0-25: 0.25rem;
--mb-0-5: 0.5rem;
--mb-0-75: 0.75rem;
--mb-1: 1rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-3: 3rem;


--space: 1rem;
}
html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202833;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(24, 24, 31);
    color: rgb(238, 238, 238);
  }
} */

a {
  color: #2563eb;
  text-decoration: none;
}

p {
  font-size: var(--font-p);
}

h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
  font-weight: var(--lighter);
}

/* Burget button */

#top,
#bottom {
  transition: stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#middle {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
#Layer_1 {
  margin-top: 4px;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

path {
  stroke-dasharray: 25 45;
  stroke-dashoffset: 0;
}

button {
  background: none;
  border: none;
}

.x .line {
  stroke: #f77322;
}

.x #middle {
  opacity: 0;
}

.x #top,
.x #bottom {
  stroke-dashoffset: -45;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

.button {
  font-size: 18px;
  background: var(--color-action);
  color: var(--color-text);
  padding: 0.75rem 3rem;
  border-radius: 0.5rem;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}
.wrapper {

  position: relative;
  --wrapper-width: 95%;

  padding-right: calc(50vw - (var(--wrapper-width) / 2));
  padding-left: calc(50vw - (var(--wrapper-width) / 2));

  

  @media only screen and (min-width: 1280px) {
    --wrapper-width: 1216px;
  }

  @media only screen and (min-width: 1504px) {
    --wrapper-width: 1440px;
  }
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
